<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microphone Toggle Example</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <div id="title-container">
        <h1 id="title-text">Vision Assist</h1>
    </div>
    <div id="button-container">
        <button id="animatedButton" onclick="toggleAnimation()">
            <div id="circle"></div>
            <img src="/static/microphone.png" height="512" alt="microphone">
        </button>
    </div>

     <audio id="audioPlayer" controls style="display: none;">
        <!-- Initially, no source is set. It will be set dynamically using JavaScript. -->
    </audio>

    <script>
        // audio recording
        const recognition = new webkitSpeechRecognition(); // Use the Webkit prefix for some browsers
        recognition.continuous = true;
        recognition.lang = 'en-US';
        const audioPlayer = document.getElementById('audioPlayer');

        function playAudioFromPath(path) {
            audioPlayer.src = path; // Replace with the actual path
            audioPlayer.load(); // Load the new source
            audioPlayer.play(); // Start playing the audio
        }

        document.addEventListener('DOMContentLoaded', () => {
            const toggleButton = document.getElementById('animatedButton');
            const socket = io();

            let isMicrophoneOn = false;
            let recognizedText = "";

            toggleButton.addEventListener('click', () => {
                isMicrophoneOn = !isMicrophoneOn;

                if (isMicrophoneOn) {
                    // Start speech recognition when microphone is toggled on
                    recognition.start();
                    playAudioFromPath("/static/on.wav")
                } else {
                    // Stop speech recognition when microphone is toggled off
                    recognition.stop();
                    playAudioFromPath("/static/off.wav")
                }
            });

            recognition.onresult = (event) => {
                const last = event.results.length - 1;
                const recognizedText = event.results[last][0].transcript;
                console.log('Recognized Text:', recognizedText);
                // Send the recorded text to the server
                socket.emit('send_text', recognizedText);
            };

            recognition.onerror = (event) => {
                console.error('Speech recognition error:', event.error);
            };


            // Listen for server response
            socket.on('microphone_toggled', (data) => {
                console.log(data.status);
            });

            socket.on('processed_text', (data) => {
                console.log('Server response:', data);
            });

            // text to speech
            socket.on('speak', (textToSpeak) => {
                const utterance = new SpeechSynthesisUtterance(textToSpeak);
                utterance.rate = 1.25
                utterance.voice = window.speechSynthesis.getVoices().find(voice => voice.gender === "female");
                window.speechSynthesis.speak(utterance);
            });
        });

        // button animation
        var isAnimating = false;

        function toggleAnimation() {
            var button = document.getElementById('animatedButton');
            var circle = document.getElementById('circle');
            isAnimating = !isAnimating;
            if (isAnimating) {
                button.classList.add('extravagant-color-change');
                circle.style.animation = 'ripple 0.6s ease-out';
            } else {
                button.classList.remove('extravagant-color-change');
                circle.style.animation = 'none';
                circle.offsetHeight; /* Trigger reflow to restart the animation */
                circle.style.animation = 'ripple 0.6s ease-out';
            }
        }
    </script>
</body>
</html>
